<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.festember.festemberapp" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <permission
        android:name="com.festember.festemberapp.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.festember.festemberapp.permission.C2D_MESSAGE" />


    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"

        android:largeHeap="true"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider507440182763591"
            android:exported="true" />

        <activity
            android:name="com.festember.festemberapp.MainActivity"
            android:label="@string/app_name" >

            <!-- android:theme="@android:style/Theme.NoTitleBar.Fullscreen"! -->
        </activity>
        <activity
            android:name="com.festember.festemberapp.Painter"
            android:configChanges="locale|keyboard|keyboardHidden"
            android:label="Doodle"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.festember.festemberapp.PainterPreferences"
            android:configChanges="locale"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.festember.festemberapp.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:label="Festember 15" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.festember.festemberapp.Hscreen"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_hscreen" >
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.festember.festemberapp.RaffleActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_raffle" >
        </activity>
        <activity
            android:name="com.festember.festemberapp.UpcomingActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_upcoming"
            android:theme="@style/Theme.AppCompat.NoActionBar" >
        </activity>
        <activity
            android:name="com.festember.festemberapp.ScheduleActivity"
            android:label="@string/title_activity_schedule"
            android:theme="@style/AppTheme2" >
        </activity>
        <activity
            android:name="com.festember.festemberapp.PopupActivity"

            android:label="@string/title_activity_popup"
            android:theme="@android:style/Theme.Holo.Dialog.NoActionBar.MinWidth" >
        </activity>
        <activity
            android:name="com.festember.festemberapp.UserProfile"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_user_profile" >
        </activity>
        <activity
            android:name="com.festember.festemberapp.QRCodeLogin"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_qrcode_login" >
        </activity>
        <activity
            android:name="com.festember.festemberapp.QRCodeWelcomePage"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_qrcode_welcome_page" >
        </activity>
        <activity
            android:name="com.festember.festemberapp.QRSplashScreen"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_qrsplash_screen" >
        </activity>
        <activity
            android:name="com.festember.festemberapp.LoginActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name="com.festember.festemberapp.RegisterActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_register" >
        </activity>
        <activity
            android:name="com.festember.festemberapp.ClusterPage"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_cluster_page" >
        </activity>
        <activity
            android:name="com.festember.festemberapp.EventActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_event" >
        </activity>
        <activity
            android:name="com.festember.festemberapp.Single_Activity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_single_"
            android:theme="@style/AppTheme2" >
        </activity>
        <activity
            android:name="com.festember.festemberapp.Notify"
            android:screenOrientation="portrait"
            android:label="Notifications" >
        </activity>

        <receiver
            android:name="com.festember.festemberapp.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.example.shreenivas.gcmtest" />
            </intent-filter>
        </receiver>

        <service android:name="com.festember.festemberapp.GCMMessagerHandler" />

    </application>

</manifest>
